.more-info {
  padding: 0.5em 0.2em;
  border: 1px solid var(--color-blue-main);
  border-radius: 0.3em;

  & > p {
    display: flex;
    align-items: center;
    padding-bottom: 0.3em;

    &:last-child {
      padding-bottom: 0;
    }
  }

  & .info {
    margin-left: auto;
  }
}
