.site {
    max-width: var(--layout-main-width);
    max-height: 100vh;
    margin: 0 auto;
    background: #FFFFFF;
    position: relative;

    & .site-main {
        max-width: var(--layout-content-width);
        margin: 0 auto 0 auto;
        padding-bottom: 0;
    }
}