:root {
    --font-size-body: 14px;
    --font-size-body-larger: 16px;
    --font-size-body-big: 18px;
    /*--font-size-body-huge: 20px;*/

    --font-main: 'Roboto';
    --font-headers: 'Roboto';

    --layout-main-width: 100%;
    --layout-content-width: 100%;

    --color-body-background: #FFFFFF;
    --color-red-main: #FF3F40;
    --color-blue-main: #6c7ae0;
    --color-grey-main: #999999;

    --spacing-layout-elements: 1.5em;
}