.container {
  position: fixed;
  top: 0.6em;
  left: 0.6em;
  z-index: 100;
  background: #ffffff;
  border-radius: 1em;
  box-shadow: 0 0 0.3em 0 rgba(0, 0, 0, 0.5);
  padding: 1em;

  @media (max-width: 350px) {
    right: 0.6em;
  }

  & .search-box {
    margin-bottom: var(--spacing-layout-elements);
  }

  & .buttons {
    display: flex;
    justify-content: space-between;
    align-items: center;
   
    & .language-buttons {
      margin-left: auto;

      & > button:first-child {
        margin-right: 0.5em;
      }
    }
  }
}
