thead,
tbody,
tr,
td,
th {
  display: block;
}

tbody::-webkit-scrollbar {
  width: 0.7em;
}

tbody::-webkit-scrollbar-thumb {
  border-radius: 0.25em;
  background: var(--color-blue-main);
}

.container {
  width: 100%;
  height: 80vh;
  overflow: hidden;
  border-collapse: collapse;
  border-radius: 0.3em;
  box-shadow: 0 0 1em 0 rgba(0, 0, 0, 0.15);

  & .header {
    background: var(--color-blue-main);
    color: #ffffff;
    padding-right: 0.7em;
  }

  .body {
    overflow: scroll;
    height: 100%;
  }

  & .grid {
    display: grid;
    grid-template-columns: 1.2fr repeat(5, 1fr);
    gap: 1em;
    align-items: center;
    justify-content: space-between;
    padding: 1em;

    &:nth-child(2n) {
      background: #f8f6ff;
    }

    & > th {
      cursor: pointer;

      & .icon {
        margin-left: 0.3em;
      }
    }

    &>th,
    &>td {
      text-align: center;
    }

    & > th:first-of-type,
    & > td:first-of-type {
      text-align: left;
    }
  }
}