.container {
  width: 100%;
  border-radius: 1em;
  box-shadow: 0 0 0.5em 0 rgba(0, 0, 0, 0.5);
  overflow: hidden;
  border-collapse: collapse;
  position: relative;
  table-layout: fixed;

  & .header {
    background: #6c7ae0;
    color: #ffffff;
  }


  & .grid {
    display: grid;
    grid-template-columns: repeat(9, 1fr);
    align-items: center;
    justify-content: space-between;
    padding: 1em;

    &:nth-child(2n) {
      background: #F8F6FF;
    }

    & > th,
    & > td {
      text-align: left;
    }

    & .two-columns {
      grid-column: span 2;
    }
  }

  & .body {
    padding: 1em;
  }
}
